@import "/src/common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    padding: 0 10px;
    height: 60px;
  }
}

.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.user-image img {
  width: 40px;
  height: 40px;

  @media (max-width: 768px) {
    width: 30px;
    height: 30px;
  }
}

a {
  color: $font-primary;
}

.search-input {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    flex-direction: row;
  }
}

input[type="text"] {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #1a242f;
  border-radius: 10px;
  color: #ffffff;
  background-color: #cccccc;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 300px;

  &:focus {
    outline: none;
    border-color: #0073e6;
  }

  @media (max-width: 768px) {
    width: 150px;
  }
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0073e6;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #0059b3;
  }

  @media (max-width: 768px) {
    padding: 10px 10px;
    width: 70px;
  }
}
