@import "/src/common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}
.user-image img {
  width: 40px;
  height: 40px;
}
a {
  color: $font-primary;
}
.search-input {
  display: flex;
}
input[type="text"] {
  padding: 10px 20px;
  font-size: 1rem;
  border: 2px solid #1a242f;
  border-radius: 10px;
  color: #ffffff;
  background-color: #cccccc;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 300px;

  &:focus {
    outline: none;
    border-color: #0073e6;
  }
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0073e6;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: #0059b3;
  }
}
